@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.App {
  font-family: Inter, sans-serif;
  text-align: center;
}

p {
  margin: 0;
}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

.ant-menu .ant-menu-item-group .ant-menu-item-group-list .ant-menu-item {
  padding-inline: 1rem 1rem;
}
/*
.ant-menu-vertical .ant-menu-item {
  margin-block-end: 1rem;
}*/

.ant-menu .ant-menu-item {
  display: flex;
}
.ant-menu .ant-menu-item-group-title {
  padding: 1.5rem 0 1rem 0.5rem;
}

.ant-btn {
  font-size: 20px;
  height: auto;
  padding: 0;
}

button {
  padding-block: 0px;
  padding-inline: 0px;
}

span.ant-avatar-string {
  transform: scale(1) translate(-50%, -5%) !important;
}
