@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.App {
  font-family: Inter, sans-serif;
  text-align: center;
}

p {
  margin: 0;
}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

.ant-menu .ant-menu-item-group .ant-menu-item-group-list .ant-menu-item {
  padding-inline: 1rem 1rem;
}

.ant-menu .ant-menu-item {
  display: flex;
}
